@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-primary-500 text-white;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  button {
    @apply bg-secondary-500 rounded-full px-3 py-1 text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
