@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply select-none bg-primary-900 text-white;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  button {
    @apply rounded-full bg-indigo-900 px-4 py-1 text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
